.successRegisterBox {
    padding: 10px 20px;
    background-color: lightcyan;
    color: lightcoral;
    border-radius: 18px;
    display: none;
}
.successRegisterBox__button {
    background: none;
    border: none;
    margin-left: 180px;
    display: inline-block;
}

/* main {
    min-height: 100vh;
    overflow: hidden;
} */
/* footer {
    position: sticky;
    bottom: 0;
} */